body {
  background: linear-gradient(135deg, red, blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
    background-color: rgba(0, 0, 0, 0.611);
    width: 70%;
    border-radius: 15px;
}

h1 {
    color: whitesmoke;
}